<h1><%= @recipe.title %></h1>
<img src="<%= @recipe.photo %>" alt="<%= @recipe.title %>">
<p>
  <b><%= @recipe.chef %></b>
</p>
<p><%= markdown_render @recipe.description %></p>
<p>
  <% @recipe.tags.each do |tag| %>
    <span class="badge badge-secondary"><%= tag %></span>
  <% end %>
</p>
<a href="/recipes">< All recipes</a>
